.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper h1 {
  font-size: 6rem;
}

.profile-bar {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 482px;
}

.profile-heading {
  margin-top: 15px;
  font-size: 4rem;
  color: #FBFBFB;
}

.joke {
  background: #D8E7F8;
  border-radius: 3px;
  margin: 0;
}

.joke-meat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
  padding: 3px 3px;
}

.punchline {
  text-align: center;
  background: #2F2F2F;
  color: #B2CEF1;
  width: 42%;
  /* margin-right: 12px; */
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.joke-username {
  margin-right: 5px;
  color: #222222;
  font-weight: bold;
}

.joke-joke {
  color: #013D63;
}

.joke img {
  background: #67A9ED;
  width: 40px;
  border-radius: 20px;
  border: 2px solid #2F2F2F;
  margin-right: 5px;
}

.joke h6 {
  font-size: 2rem;
}

.private-jokes-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.private-jokes-wrapper h2 {
  color: #FFD69F;
}

.joke-joke, .joke-punchline {
  font-size: 1.6rem;
}

.reveal {
  display: flex;
  justify-content: center;
}

.indi-joke .reveal {
  margin: 0;
}

.indi-joke .reveal button {
  margin: 0;
}

.reveal img {
  width: 40px;
}

.btn-jokes {
  height: 45px;
  width: 100%;
  margin: 0;
  background: #222222;
  color: #E4E3E2;
}

.btn-jokes:hover {
  background: #FE2D32;
  color: #F5CCCD;
}

.profile-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-links button {
  border-radius: 5px;
  background: #780207;
  border: 1px solid #FEC270;
}

.profile-links a {
  color: #FEC270;
}

.profile-links a:hover {
  color: #FFEBCF;
}

.reveal {
  font-size: 2.4rem;
  font-family: 'Cookie', cursive;
  height: 45px;
}

.update-joke-btn {
  color: #21A339;
  background: #FFEBCF;
  border: 1px solid #21A339;
}

.update-joke-btn:hover {
  color: #FFEBCF;
  background: #21A339;
  border: 1px solid #FFEBCF;
}

.comments {
  color: #FB902E;
  background: #FFEBCF;
  border: 1px solid #FB902E;
}

.comments:hover {
  color: #FFEBCF;
  background: #FB902E;
  border: 1px solid #FFEBCF;
}

.laughs {
  color: #FE2D32;
  background: #FFEBCF;
  border: 1px solid #FE2D32;
}

.laughs:hover {
  color: #FFEBCF;
  background: #FE2D32;
  border: 1px solid #FFEBCF;
}