@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

html {
  font-size: 62.5%;
}

body {
  background: #32599F;
}

h1 {
  font-family: 'Rancho', cursive;
  color: #FBFBFB;
}

h2, h3, h4 {
  font-family: 'Cookie', cursive;
  color: #B2CEF1;
}

h2 {
  font-size: 3rem;
}

button {
  font-family: 'Cookie', cursive;
}

.btn {
  font-size: 2.4rem;
}

.grn {
  color: #42581A;
  background: #94CE9C;
  border: 3px solid #42581A;
}

.grn:hover {
  color: #94CE9C;
  background: #42581A;
  border: 3px solid #94CE9C;
}

.red {
  color: #780207;
  background: #DF6668;
  border: 3px solid #780207;
}

.red:hover {
  color: #DF6668;
  background: #780207;
  border: 3px solid #DF6668;
}