.nav-wrapper {
  width: 100%;
  z-index: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #013D63;
  height: 47px;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  .nav {
    height: 240px;
  }
  .burger-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }
  .nav-logo {
    margin-top: 0px;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links a {
    display: flex;
  }
}

@media (min-width: 500px) {
  .nav-wrapper .nav-links {
    display: flex;
  }
  nav .burger-links .burger {
    display: none;
  }
  .nav-logout {
    padding-top: 10px;
  }
}

.burger {
  flex-direction: column;
  margin: 5px 0 0 10px;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #FBFBFB;
  margin: 5px 0;
}

.burger2 {
  display: none;
  justify-content: center;
}

.b2-wrapper {
  display: flex;
}

.line {
  width: 80px;
  height: 1px;
  background-color: #FBFBFB;
  margin: 10px 0 0 0;
}

.burger2 h3 {
  font-size: 2rem;
}

.nav-links {
  display: none;
}

.nav-links a {
  font-size: 2rem;
  padding: 10px 15px;
  color: #FBFBFB;
  text-decoration: none;
}

.nav-links a:hover {
  color: #B2CEF1;
  background: #1E62B9;
}

.nav-logo h3 {
  padding: 7px 10px;
  font-size: 3rem;
  color: #FBFBFB;
  height: 47px;
}

.nav-logo h3:hover {
  text-decoration: none;
  background: #1E62B9;
}

.in-active {
  display: none;
}

.active {
  display: flex;
}

.burger-links .in-active {
  display: none;
}

.burger-links .active {
  display: flex;
}

.burger .in-active {
  display: none;
}

.burger .active {
  display: flex;
}

.burger2 .in-active {
  display: none;
}

.burger2 .active {
  display: flex;
}

.nav-links .in-active {
  display: none;
}

.nav-links .active {
  display: flex;
}

.logo-center {
  justify-content: center;
}