.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup-wrapper h1 {
  font-size: 10rem;
}

.signup-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-wrapper input {
  font-size: 1.6rem;
}